html
  height 100%

body
  display flex
  flex-direction column
  width 100%
  height 100%

header
  padding-bottom 1em

main.console
  flex 1
  background-color black
  color lightgreen
  font-family monospace
  overflow-y scroll
  margin-bottom 1em

  p
    padding 0em 1em
    margin-bottom 0.2em

    &.error
      color salmon

    &.highlight
      background-color gold
      color darkslategray

button
  margin-right 1em

.hbox
  display flex
  flex-direction row

div.spacer
  flex 1
