html
  height 100%

body
  display flex
  flex-direction column
  width 100%
  height 100%

header
  padding-bottom 1em

main
  flex 1
  padding 1em
  background-color black
  color lightgreen
  font-family monospace
  overflow-y scroll
  margin-bottom 1em

button
  margin-right 1em

.hbox
  display flex
  flex-direction row

div.spacer
  flex 1
